._sync_6ab9e16f137a.db
._sync_6ab9e16f137a.db-shm
._sync_6ab9e16f137a.db-wal
Downcloudsync.log
DataConfig.txt
PlotData.txt
TR_0_0.dat
charge.png
charge.root
inputSN.txt
pedestal.root
results.root
wave_1.dat
wave_2.dat
.owncloudsync.log
